
@import './Welcome.css';
@import './Home.css';
@import './Navbar.css';
@import './Video.css';
@import './Collection.css';
@import './Book.css';

@import './Contact.css';
@import './Conc.css';

@import './About.css';
@import './Signin.css';
@import './Signup.css';
@import './Product.css';







*{
  padding: 0px;
  margin: 0px;
  /*background-color: rgb(109, 109, 247);*/
  /*background-color: aliceblue;*/
  /*background-image: url(src/assets/Capture-marbre2.PNG);*/
}



html{
  /*background-color: darkmagenta;*/
  /*width: 100%;
  height: 100%;
  */
  width: 100vw;
  height: 100vh;
  /*
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  */
}



body{
  /*background-color: aquamarine;*/
  width: 100%;
  height: 100%;
}




#root{
  /*background-color: brown;*/
  
  width: 100%;
  height: 100%;


/*
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  */
  
}



/*****/

.App{
  width: 100%;
  height: 100%;
}


