
@import './Welcome.css';
@import './Home.css';
@import './Navbar.css';
@import './Video.css';
@import './Collection.css';
@import './Book.css';
@import './Contact.css';
@import './About.css';





/*

body{
  background-color: rgb(42, 95, 165);
 
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;
  width: 100vw;
  padding: 10px;
}



/*test jeudi

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
body{

  width: 100vw;

  height: 80vh;
}



#root{
  background-color: chocolate;

  width: 100vw;
  /*height: 80vh;

  height: 100vh;
}



html{
  background-color: black;
  margin: 0;
  padding: 5;
  display: flex;
  
  /*margin: 10px;
  /*height: 95%;
  
  margin: 0px;
  height: 100vh;

}

*/
.App{
  
  background-color: rgb(4, 63, 35);
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  padding: 5px;
  */
  width: 100%;
  height: 100%;
  
  /*
  height: 100%;
  width: 100%;
  margin: 0px;
*/
/*

min-width: 100vw;
    max-width: 100vw;

    min-height: 100vh;
    max-height: 100vh;
*/

  /*
  display: flex;*/
}





/*fin test jeudi*/




/*

.App{

  
    background-color: rgb(205, 206, 206);
    height: 100%;
    width: 100%;
  



  /*width: 95%;
  margin: 10px;
  /*padding: 20px;*/
  /*border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(160, 161, 156);
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


.contour{
  text-align: center;
  background-color: rgb(1, 2, 5);
  margin: 10px;
}
*/