

@import './Home.css';
@import './Navbar.css';
@import './Video.css';




.App{

  
    background-color: rgb(205, 206, 206);
    height: 100%;
    width: 100%;
  



  /*width: 95%;*/
  margin: 10px;
  /*padding: 20px;*/
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(160, 161, 156);
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.contour{
  text-align: center;
  background-color: rgb(1, 2, 5);
  margin: 10px;
}