



.timer-container{
    background-color: grey;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer{
    background-color: rgb(117, 117, 92);
    width: 80%;
    height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    border:  1px solid black;
    text-align: center;
  }
  
  .text{
    font-weight: bold;
  }
  
  
  .line{
    /*background-color: purple;*/
    
    width: 70vw;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  
  
  
  
  
  .box{
     height: 15px;
     font-size: 22px;
    /*background-color: rgb(88, 172, 4);*/
    /*border: 1px solid black;*/
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  
  .type{
    /*background-color: aqua;*/
    height: 15px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 0 ;
  }
  
  /*
  @media screen and (max-width: 480px) {
    .timer div:last-child{
      margin-left: 2em;
      margin-right: 2em;
      padding: 3em 1em;
    }
    
  }
    */