.bigTable {
  width: 90%;
  min-height: calc(50vh - 60px); /* prend l'espace sous la big-box */

  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 20px;
  margin-bottom: 60px; /* espace pour les icônes */
}

.bigTable form {
  margin: 15px 0;
}

.bigTable ul {
  width: 100%;
  list-style: none;
}

.bigTable li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}