*{
    margin: 0px;
    padding: 0px;
}




  
.mainbox{
    background-color: rgb(109, 99, 105);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    max-width: 100vw;
    padding: 10px;
    /*margin: 0 auto;*/
    /*margin: 30px auto 0 auto;*/


    /*padding-top: 100px;*/
    /*
    height: 80%;
    position: relative;
    top: 100px;
    */

    /*min-height: 30%;
    max-height: 80%;
    */
    /*min-height: 30vh;*/
/*
    min-height: 100vh;
    max-height: 100vh;
    */
    height: 100%;
    /*padding-top: 30%;*/

    position: absolute;
    /*z-index: 0;*/
}




/*
.mainbox img{
    width: 115px;
    height: 105px;
    z-index: 10;
    position: relative;
    top: 150px;
    left: 555px;
    border-radius: 50%;
    transform: rotateY(180deg);

}
*/


.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    z-index: 15;
    border-radius: 50px;
    position: relative;
    top:-30px;
}


.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    z-index: 15;
    border-radius: 50px;
    position: relative;
    top:-285px;
    left: -525px;

}


.img3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    z-index: 15;
    border-radius: 50px;
    position: relative;
    top: 55px;
    left: 505px;
    transform: rotateY(180deg);

}



.boxVideo{
    background-color: black;
    position: relative;
    width: 90%;
    height: 38%;
    top: -85px;
}

.boxVideo p{
    font-size: 20px;
    padding-bottom:20px;
}

.videoShow{
    background-color: rgb(105, 119, 80);
    width: 70%;
    height: auto;
    margin: 5px auto;
    padding: 1px;
}





.videoShow video{
    width: auto;
    /*width: 90%;*/
    height: 90%;
}





.btn-decouvrez{
    background-color: aliceblue;
    border-radius: 5px;
    width: 25%;
    height: 70px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -75px;

}

.btn-decouvrez a{
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    background-color: transparent;
}





.presentation{
    background-color: cadetblue;
    width: 80%;
    height: 55px;
    position: relative;
    top: -60px;
    
}



.presentation h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




.presentation p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}















.boxx-container{
    background-color: blue;
    width: 90%;
    /*height:25%;*/
    height: auto;
    position: relative;
    bottom: 50px;
    
    /*
    min-width: 100vw;
    max-width: 100vw;

    min-height: 100%;
    min-height: 100%;
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.boxa{
    background-color: aquamarine;
    width: 155px;
    /*height: 155px;*/
    height: auto;
    
}




.boxb{
    background-color: aquamarine;
    width: 155px;
       /*height: 155px;*/
       height: auto;
}


.boxc{
    
    background-color: aquamarine;
    width: 155px;
       /*height: 155px;*/
       height: auto;
}















/****************************/
/****************************/

/********MEDIAQUERIES*******/

/******FROM 0 TO 850PX*******/

/*
@media (max-width:850px)  {

    .boxes-container{
        background-color: blue;
        padding: 5px;
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .box1{
        background-color: aquamarine;
        width: 175px;
        height: 175px;
        margin: 5px;
        
    }
    
    
    
    
    .box2{
        background-color: aquamarine;
        width: 175px;
        height: 175px;
        margin: 5px;
    }
    
    
    .box3{
        
        background-color: aquamarine;
        width: 175px;
        height: 175px;
        margin: 5px;
    }

}

*/