.icons {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 47px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 100;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*align-item: center;*/
}

.icons .text-icon p {
  font-size: 16px;

  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-items ul li {
  margin: 2px 10px 5px;
  color: black;
  font-size: 17px;
  cursor: pointer;
  
}

