

.swiper{
//background-color: lightgrey;
height: 220px;
width:90%;
margin: 5px auto;
border-radius: 7px;

}



.swiper-wrapper{
    /*background-color: green;*/
    height: 180px;
    width: 200%;
    margin: 5px auto;

}

.swiper-slide{
    /*background-color: purple;*/
    height: 175px;
    width: 100px;
    margin: 5px auto;
}