
/*

.boxVideo{
    /*
    width: auto;        
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*background-color: greenyellow;
    
    
}


.boxVideo p{
    margin-top: 10px;
}

.videoShow{
    /*
    width: 55%;
    /*width: 70%;
    height: 90%;
    margin: 10px;
    /*background-color: rgba(105, 110, 72, 0.87);
    
   

   
}

.videoShow video{
    /*
    width: 80%;
    height: 90%;
    margin: 8px;
    border-radius: 20px;
    
}

*/