


*{
    margin: 0;
    padding: 0;
}

.mainBox-welcome{
    background-color: rgb(107, 109, 99);


    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    max-width: 100vw;
    margin: 200 auto 0 auto;
/*


    /*
    height: 80%;
    position: relative;
    /*top: 100px;*/
    

    /*
    min-height: 30%;
    max-height: 80%;
    */
    min-height: 100%;
    max-height: 100%;
    
    /*padding-top: 30%;*/

    /*position: absolute;*/
    /*z-index: 0;*/


   


}


.marbreG{
    display: flex;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    /*background-color: darkcyan;*/
    /*border: 10px solid rgba(172, 255, 47, 0.61);*/

    
    padding: 0px;
    /*width: 100%;*/
   
    width: 100%;
    height: 100%; 
    position: relative;
    
    top: 50%;
    left: 17vw;

    z-index: 2;

    transition: 3s;
    

}
.mainBox-welcome:hover .marbreG{
    /*width: 0%;*/
    transform: translateX(-100%);
}



/*
.marbresG img{

}
*/



.marbreD{

    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: darkcyan;*/
    border: 10px solid rgba(172, 255, 47, 0.692);
    /*background: linear-gradient(to right, rgba(90, 128, 0, 0.247), green );*/
    
    /*padding: 0px;*/
    padding: 0px;
    /*width: 100%;*/
   
    width: 90%;
    height: 100%; 
    position: relative;
    
    top: 50%;
    left: -17vw;

    z-index: 3;

    transition: 3s;
    
    

}
.mainBox-welcome:hover .marbreD{
    /*width: 0%;*/
    transform: translateX(100%);
}







/*
.marbreG::after{
    content: '';
    background-color: chartreuse;
    position: absolute;
    z-index: -1;
    inset: 0;
    transition: 1s;
}
*/


/*
.marbreD{
    width: 100%;
    position: relative;
    right: -50%;
    z-index: 2;

}*/

.textbox{
    /*background-color: rgb(167, 156, 10);*/
    /*background-color: black;*/
    background-color: rgb(247, 252, 252);
    margin: 15px;
    padding: 35px;
    z-index: 0;
    /*width: auto;*/
    width: 100%;
    /*height: 155px;*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 7s;
    


}


.mainBox-welcome:hover .marbreD{
    /*width: 0%;*/
    transform: scale(20%);
}



/*
.mainBox-welcome:hover .welcometext{
    /*width: 0%;
    transform: scale(150%);
}
*/



.welcometext{
    /*background-color: coral;*/
    background-color: rgb(255, 255, 255);
    z-index: 1;
    color: rgb(8, 6, 6);
    font-size: 20px;
}