


*{
    margin: 0;
    padding: 0;
}

.mainBox{
    background-color: rgb(107, 109, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    max-width: 100vw;
    margin: 200 auto 0 auto;
    /*
    height: 80%;
    position: relative;
    top: 100px;
    */

    min-height: 30%;
    max-height: 80%;
    /*padding-top: 30%;*/

    /*position: absolute;*/
    /*z-index: 0;*/
}

.marbreG{
    /*background-color: darkcyan;*/

    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: -50%;

    /*z-index: 1;*/

}

/*
.marbreD{
    width: 100%;
    position: relative;
    right: -50%;
    z-index: 2;

}*/