@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0px;
  padding: 0px;

  overflow: hidden;
}

html{
  width: 100vw;
  height: 100vh;
}

body{
  /*background-color: rgb(42, 95, 165);*/
 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /*height: 10vh;*/
  padding: 5px;
}


